zk://{% for host in groups['zookeeper-quorum'] %}{{hostvars[host]['ansible_' + hostvars[host]['mesosphere_zk_iface']]['ipv4']['address']}}:{{mesosphere_zk_clientPort}}{% if not loop.last %},{% endif %}{% endfor %}/mesos